<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>

<body class="bg-white">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 bg-info text-dark text-center py-4">
                <div class="header-left">
                    <img src="https://avatars.githubusercontent.com/u/135397323?v=4" alt=""
                        class="img-thumbnail rounded-circle mb-2">
                    <h1 class="display-5">Domenica Mendoza</h1>
                    <h4 class="lead text-capitalize text-white -30 mb-4">Universitaria</h4>
                </div>

                <div>
                    <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">Contacto</h5>
                    <ul class="list-unstyled text-white -30 ml-5 py-2 text-left">
                        <li class="list-item">
                            <i class="fas fa-mobile-alt mx-2 bi bi-telephone-fill"></i>
                            0983088801
                        </li>
                        <li class="list-item">
                            <i class="fas fa-envelope-open-text mx-2 bi bi-envelope-at-fill"></i>
                            domenicax28@gmail.com
                        </li>
                        <li class="list-item">
                            <i class="fas fa-map-marker-alt mx-2 bi bi-geo-alt-fill"></i>
                            Guayaquil-Suburbio 25 y la m
                        </li>
                    </ul>
                </div>
                <div>
                    <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">Datos generales</h5>
                    <ul class="list text-white -30 ml-5 py-2 text-capitalize">
                        <li class="list-item">Estado Civil: Soltera </li>
                        <li class="list-item">Fecha de nacimiento: 28/04/2003 </li>
                        <li class="list-item">Cédula: 0955300439</li>
                        <li class="list-item">Edad: 20 Años </li>
                        <li class="list-item">Nacionalidad: Ecuatoriana </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-8 bg-ligth text-dark py-4 px-5">
                <div class="header-right">
                    <h4 class="text-uppercase">Objetivos Personales</h4>
                    <hr>
                    <p>Estudiante trabajadora en busca de empleo. Preparada para utilizar mis habilidades y pasion para
                        impulsar la mision de una compañia
                        Aporto una actitud positiva, la voluntad y motivacion para aprender nuevos programas.
                        Tecnologicamente hàbil, ofrezco experiencia con muchas plataformas de medios sociales, programas
                        de Tecnologia de
                        oficina y habilidades informaticas avanzadas.</p>
                </div>

                <div>
                    <div class="header-right">
                        <h4 class="text-uppercase">Estudios Academicos</h4>
                        <hr>
                        <ul class="list">
                            <li class="list-item"><strong>Estudios Superior:</li></strong>
                            <p>Universidad de Guayaquil - Facultad de Ciencias Administrativas.
                                Gestion de la Informacion Gerencial
                                Actualmente en el Cuarto semestre - Horario nocturno</p>
                            </p>

                            <li class="list-item"><strong>Secundaria:</li></strong>
                            <p>Unidad Educativa Fiscal Guayaquil
                                Bachiller de la República del Ecuador:
                                Técnico De Servicios Contabilidad</p>
                            <p>Promedio: 9,65 / 10</p>
                            </li>

                            <div>
                                <div class="header-right">
                                    <h4 class="text-uppercase">Experiencia Laboral</h4>
                                    <hr>
                                    <li>Nueva Luz,Guayaquil
                                        cargo: Asistente de administracion </li>
                                    <li>Atencion al cliente</li>
                                    <li>Registros de llamadas</li>
                                    <li>Ingreso de facturas</li>
                                    <li>Control de inventario</li>
                                    <br>
                                </div>
                                <div>
                                    <h4 class="text-uppercase">Referencia Personales</h4>
                                    <hr>
                                    <li>Sofia Cevallos Peñafiel de Nueva Luz
                                    </li>
                                    <li>telf:098998145 </li>
                                    <br>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>