<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 bg-dark text-white-50 text-center py-4">
                <div class="header-left">
                    <img src="https://avatars.githubusercontent.com/u/135192116?s=400&u=4886efad353ece1c4084ee520193e5cdff92de80&v=4" alt="" class="img-thumbnail rounded-circle mb-2">
                    <h1 class="display-5"><strong>Wendy Tatiana Caicedo Caicedo</h1></strong>
                    <h4 class="lead text-uppercase text-white-50 mb-4"><em>Universitaria</h4></em>
                </div>

                <div> 
                    <h5 class="text-uppercase.bg-white.text-dark.py-2.rounded-pill"><strong>Contacto</h5></strong>
                    <ul class="list-unstyled text-white-50 ml-5 py-2 text-left">
                        <p><em>Dirección :Nobol</em></p>
                        <p><em>Teléfono:  0968662960 </p></em>
                        <p><em>Correo: wendycaicedo74@gmail.com</p></em>
                        </li>
                    </ul>
                </div>
                <div>
                    <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill"><strong>Datos generales</h5></strong>
                    <ul class="list text-white-50 ml-5 py-2 text-capitalize">
                        <ul class="list-unstyled"></ul>
                        <li><em>Estado Civil : Soltera</em></li>
                        <li><em>Fecha de nacimiento:28/07/2003</em></li>
                        <li><em>Cédula: 0923444444</em></li>
                        <li><em>Edad: 20 Años</em></li>
                        <li><em>Nacionalidad: Ecuatoriana</em></li>
                    </ul>
                </div>
                   
            </div>    
            <div class="col-lg-8 bg-ligth text-dark py-4 px-5">
                <div class="header-right">
                    <h4 class="text-uppercase"><strong>Objetivos Personales</h4></strong>
                    <hr>
                    <p>Desenvolverme en el ámbito laboral para así poder crecer profesionalmente brindando mis conocimientos académicos.</p>
                </div>

                <div>
                    <h4 class="text-uppercase"><strong>Estudios Academicos</h4></strong>
                    <hr>
                    <ul class="list">
                        <li class="list-item">
                            <strong><em>Estudios Primarios:</li></strong></em>
                            <p>Unidad Educativa Fiscal Mixta.
                            <p>“Veintidós de Noviembre”</p>
                        
                        <li class="list-item">
                        <strong><em>Secundaria:</li></strong></em>
                        <p>Unidad Educativa Particular "Narcisa de Jesús" 
                        <p>Bachiller de la República del Ecuador:
                        Técnico De Servicios Contabilidad</p>
                        </li>
                
                        <li class="list-item">
                            <strong><em>Estudios Superior:</li></strong></em>
                            <p>Universidad de Guayaquil - Facultad de Ciencias Administrativas.
                            <p>Gestion de la Informacion Gerencial
                            Actualmente Cursando el Cuarto semestre - Horario nocturno</p></p>
                        </li>

                <div>
                    <h4 class="text-uppercase"><strong>Experiencia Laboral</h4></strong>
                    <hr>
                        <li>Taller Electromecánica y Venta de Batería Willi’s
                            - Cargo: Atención al cliente   </li>
                            <li>Tiempo: 2 años</li>
                         

                <div>
                    <p></p>
                    <h4 class="text-uppercase"> <strong>Referencia Personales</h4></strong>
                    <hr>
                        <li>IKelly Mariuxi Caicedo Contreras
                        </li>
                        <li>telf:0999999912 </li>
                        <br>
                        <li>John Anthony Caicedo Caicedo
                        </li>
                        <li>telf:0956778899</li>
                </div>
                <div>
                    <p></p>
                    <h4 class="text-uppercase"> <strong>Cursos Realizados</h4></strong>
                    <hr>
                        <li>Computación 1 - Universidad estatal de Guayaquil
                        </li>
                        <li>Computación 2 - Universidad estatal de Guayaquil </li>
                        <li>Computación 3- Universidad estatal de Guayaquil
                        </li>
                        <li>Técnico en redes IP capacítate para el empleo</li>
                        <br>
                        <li>Lógica de programación capacítate para el empleo</li>
                        <li>Introducción a la programación capacítate para el empleo</li>
                        <li>Curador de datos capacítate para el empleo</li>
                        <li>Auxiliar contable capacítate para el empleo</li>
                </div>
                </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>