<!DOCTYPE html>
</body>
</html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 bg-dark text-white text-center py-4">
                <div class="header-left">
                    <img src="https://avatars.githubusercontent.com/u/135400209?v=4" alt="" class="img-thumbnail rounded-circle mb-2">
                    <h1 class ="display-5"> Maria Santamaria </h1>
                    <h4 class="lead text-uppercase text-white-50 mb-4">Universitaria</h4>
                </div>

                <div>
                    <h5 class="text-uppercase.bg-white.text-dark.py-2.rounded-pill">contacto</h5>
                    <ul class="list-unstyled text-white-50 ml-5 py-2 text-left">
                        <li class="list-item">
                            <i class="fas fa-mobile-alt mx-2"></i>
                            0997424884
                        </li>
                        <li class="list-item">
                            <i class="fas fa-envelope-open-text mx-2"></i>
                            mariasantamariacevallos@gmail.com
                        </li>
                        <li class="list-item">
                            <i class="fas fa-map-marker-alt mx-2"></i>
                            7 ava y callejon maldonado
                        </li>
                    </ul>
                </div>
                <div>
                    <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">Datos generales</h5>
                    <ul class="list text-white-50 ml-5 py-2 text-capitalize">
                        <li class="list-item">Estado Civil : Soltera </li>
                        <li class="list-item">Fecha de nacimiento:10/05/2003 </li>
                        <li class="list-item">Cédula: 0955556659</li>
                        <li class="list-item">Edad: 20 Años </li>
                        <li class="list-item">Nacionalidad: Ecuatoriana </li>
                    </ul>
                </div>
                   
            </div>    
            <div class="col-lg-8 bg-ligth text-dark py-4 px-5">
                <div class="header-right">
                    <h4 class="text-uppercase">Objetivos Personales</h4>
                    <hr>
                    <p>Soy una señorita convencida que la preparación profesional forma a los
                        líderes de hoy y es por ello mis objetivos son: trabajar en una gran empresa
                        y entregar a ella todos los conocimientos adquiridos, crecer en ella
                        profesional y personalmente, siendo creativa, honrada y honesta, virtudes.
                        que me caracterizan por la formación de mis padres.</p>
                </div>

                <div>
                    <h4 class="text-uppercase">Estudios Academicos</h4>
                    <hr>
                    <ul class="list">
                        <li class="list-item">
                        <strong>Estudios Superior:</li></strong>
                        <p>Universidad de Guayaquil - Facultad de Ciencias Administrativas.
                        Gestion de la Informacion Gerencial
                        Actualmente en el Cuarto semestre - Horario nocturno</p></p>
                        
                        <li class="list-item">
                        <strong>Secundaria:</li></strong>
                        <p>Unidad Educativa Fiscal Adolfo H.Simmonds 
                        Bachiller de la República del Ecuador:
                        Técnico De Servicios Contabilidad</p>
                        <p>Carrera: Gestión de la Información Gerencial.</p>
                        <p>Logro: 2da. Escolta de la Bandera del Colegio.</p> 
                        <p>Promedio: 9,47 / 10</p> 
                        </li>
                
                <div>
                    <h4 class="text-uppercase">Experiencia Laboral</h4>
                    <hr>
                        <li>Sumiansac,Guayaquil
                            cargo: Secretaria Contable </li>
                            <li>Proceso de facturacion</li>
                            <li>Arqueo de caja</li>
                            <li>Elaborar proformas</li>
                            <li>Archivar documentacion</li>
                            <li>Control de inventario</li>
                            <br>
        
                        <li>Mas Ahorro, Guayaquil
                            cargo: Trabajador Operativo</li>
                            <li>Atencion al cliente</li>
                            <li>Arqueo de caja</li>
                            <li>Control de inventario</li>
                            <li>Monitorear e informar planes operativo</li>
                            <li>Redaccion de actas , informes
                            </li>

                <div>
                    <h4 class="text-uppercase">Referencia Personales</h4>
                    <hr>
                        <li>Ing Ana Santamaria C.
                            Gerente General 
                            Sumiansac
                        </li>
                        <li>telf:0992246408 </li>
                        <br>
                        <li>Linc.Pamela Suarez
                            Jefa de local
                        </li>
                        <li>telf:0963653538</li>
                </div>
                </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>