
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculumevelyn</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body class="bg-light">
    <div class="container p-5">
        <div class="row">
            <div class="col-lg-4 bg-dark text-white text-center py-4">
                <div class="header-left">
                    <img src="https://avatars.githubusercontent.com/u/150181153?v=4"alt="" class="img-thumbnail rounded-circle mb-2">
                    <h1 class="display-5">Evelyn Paladinez</h1>
                    <h4 class="lead text-uppercase text-white-50 mb-4">Universitaria</h4>
                </div>

                <div>
                    <h5 class="text-uppercase.bg-white.text-dark.py-2.rounded-pill">contacto</h5>
                    <ul class="list-unstyled text-white-50 ml-5 py-2 text-left">
                        <li class="list-item">
                            <i class="fas fa-mobile-alt mx-2"></i>
                            0998150186
                        </li>
                        <li class="list-item">
                            <i class="fas fa-envelope-open-text mx-2"></i>
                            eveyami_98@hotmail.com
                        </li>
                        <li class="list-item">
                            <i class="fas fa-map-marker-alt mx-2"></i>
                            Huancavilca norte manzana D villa 127
                        </li>
                    </ul>
                </div>
                <div>
                    <h5 class="text-uppercase bg-white text-dark py-2 rounded-pill">Datos generales</h5>
                    <ul class="list text-white-50 ml-5 py-2 text-capitalize">
                        <li class="list-item">Estado Civil : Soltera </li>
                        <li class="list-item">Fecha de nacimiento: 14/05/1998</li>
                        <li class="list-item">Cédula: 0922956099</li>
                        <li class="list-item">Edad: 25 Años </li>
                        <li class="list-item">Nacionalidad: Ecuatoriana </li>
                    </ul>
                </div>
                   
            </div>    
            <div class="col-lg-8 bg-ligth text-dark py-4 px-5">
                <div class="header-right">
                    <h4 class="text-uppercase">Objetivos Personales</h4>
                    <hr>
                    <p>Desempeñar una labor que vaya acorde con lograr los objetivos definidos por la empresa.
                        Aplicar todos los conocimientos adquiridos en mi formación profesional para colaborar
                        con el desarrollo empresarial y a la vez personal.</p>
                </div>

                <div>
                    <h4 class="text-uppercase">Formacion Academica</h4>
                    <hr>
                    <ul class="list">
                        <li class="list-item">
                        <strong>Estudios Primarios:</li></strong>
                        <p>Unidad Educativa Fiscal “Tnte Hugo Ortiz Garces”</p>
                        
                        <li class="list-item">
                        <strong>Estudios Secundarios:</li></strong>
                        <p>Unidad Educativa fiscal: “Tnte Hugo Ortiz Garces
                         Especialidad: Ciencias General </p>
                        </li>

                        <li class="list-item">
                            <strong>Estudios de tercer nivel:</li></strong>
                            <p>Institución Educativa: Universidad de Guayaquil
                                Carrera: Ingeniería en Sistemas de Calidad y Emprendimiento
                                Lic. Gestion De la información Gerencial
                                Estudiando: 6º Semestre
                                4° Semestre (cursando)</p>
                
            <div>
                <h4 class="text-uppercase">Experiencia Laboral</h4>
                <hr>
                    <li> CREA CONTACTO Y SOLUCIONES </li>
                            <li>Asesora comercial</li>
                            <li>Atención al cliente </li>
                            <li>Venta en portabilidad, migración, línea nueva en claro</li>
                            <li>Activación de marca (Impulsadora) Por temporada</li>
                            <li>Animadora en fiestas infantiles</li>
                            <br>
        
                    <li>CURSOS REALIZADOS:</li>
                            <li>Ingles Intermedio Multibiligue</li>
                            <li>Desarrollo de apps móviles Curso en Google</li>
                            <li>Curador de datos Fundacion Carlos Slim</li>
                            </li>
                            <br>
            <div>
                <h4 class="text-uppercase">Referencia Personales</h4>
                <hr>
                        <li>Ing. Douglas Castro Moreno
                            Gerente General
                            Cascumo C&C S. A.
                        </li>
                        <li>telf:5111109</li>
                        <br>
                        <li>Lic. Rosa Jiménez Díaz
                            laboratorio clínico                            
                        </li>
                        <li>telf:0982419889</li>
                        <br>
                        <li>Ing. Sonia Alejandro Menoscal
                            Contador General
                            Plastro S.A                      
                        </li>
                        <li>telf:0994100991</li>
                </div>
                </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>